.de {
    width: 80px;
}
.des {
    width: 480px;
    height: 82px;
    border: 1px solid;
    padding-top: 3px;
    padding-left: 3px;
}
.feuille {
    width: 535px;
    height: 760px;
    background-image: url('../img/tresfute.jpg');
}
.feuille .croix .coche {
    font-size: 50px;
    line-height: 35px;
}
.feuille .nombre .coche {
    font-size: 35px;
    line-height: 35px;
    font-family: "Comic Sans MS", "Comic Sans";
    font-weight: bold;
    padding-left: 6px;
}
.feuille .des {
    width: 81px;
    height: 245px;
    border: none;
    padding: 3px;
    margin-left: 6px;
    margin-top: 4px;
    float: left;
/*    background: rgba(128, 255, 255, 0.5);*/
}
.choisis {
    position: absolute;
    top: 97px;
    left: 13px;
    width: 80px;
    height: 240px;
    border: 10px red;
}
.feuille .tours {
    width: 442px;
    height: 85px;
/*	background: rgb(255,255,128,.50);*/
    float: right;
    margin-top: 4px;
    font-size: 50px;
    line-height: 35px;
}
.feuille .relance {
    width: 442px;
    height: 83px;
    float: left;
/*    background: rgb(255,128,255,.5);*/
}
.feuille .plusun {
    width: 442px;
    height: 83px;
    float: left;
/*    background: rgb(255,255,128,.5);*/
}
.feuille .jaune {
    width: 264px;
    height: 250px;
    float: left;
    margin-left: 6px;
/* background: rgb(255,128,255,.5); */
}
.feuille .jaune .coches {
    width: 180px;
    /*background: rgb(255,255,128,0.5);*/
    margin-top: 9px;
    margin-left: 17px;
}
.feuille .bleu {
    width: 264px;
    height: 250px;
    float: right;
/*    background: rgb(255,255,128,.5);*/
}
.feuille .bleu .coches {
    width: 184px;
    margin-top: 60px;
    margin-left: 13px;
    /*background: rgb(255,255,128,.5);*/
}
.feuille .vert {
/*    background: rgb(128,255,255,.5);*/
    width: 526px;
    height: 96px;
    margin-left: 6px;
    float: left;
}
.feuille .vert .coches {
	margin-top: 23px;
	margin-left: 61px;
}
.feuille .orange {
    float: left;
    width: 526px;
    height: 76px;
/*  background: rgb(128,255,255,.5);*/
    margin-left: 6px;
}
.feuille .orange .coches {
	margin-top: 2px;
	margin-left: 61px;
}
.feuille .violet {
    float: left;
    width: 526px;
    height: 76px;
/*  background: rgb(128,255,255,.5);*/
    margin-left: 6px;
}
.feuille .violet .coches {
    margin-top: 2px;
    margin-left: 61px;
}
.feuille .coche {
    /*background: rgba(255, 128, 255, 0.5);*/
    width: 35px;
    height: 40px;
    padding-left: 6px;
    display: inline-block;
}
.feuille .ligne .coche {
    margin-left: -0.25px;
    margin-top: 2px;
}
.feuille .carre .coche {
    margin-left: 4px;
    margin-top: 2px;
}
